.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.pListImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pListTitles>h1 {
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
}

.pListTitles>h2 {
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    .pList {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pList {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 15px;
    }
}